<?xml version="1.0"?>
<config>
    <modules>
        <MagenThemes_MTLaniusAdmin>
            <version>2.0.3</version>
        </MagenThemes_MTLaniusAdmin>
    </modules>
    <frontend>
        <routers>
            <mtlaniusadmin>
                <use>standard</use>
                <args>
                    <module>MagenThemes_MTLaniusAdmin</module>
                    <frontName>mtlaniusadmin</frontName>
                </args>
            </mtlaniusadmin>
        </routers>
        <layout>
            <updates>
                <mtlaniusadmin>
                    <file>mtlaniusadmin.xml</file>
                </mtlaniusadmin>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	       <mtlaniusadmin>
				<use>admin</use>
				<args>
				    <module>MagenThemes_MTLaniusAdmin</module>
				    <frontName>mtlaniusadmin</frontName>
				</args>
	       </mtlaniusadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
		    <updates>
			<mtlaniusadmin>
			    <file>mtlaniusadmin.xml</file>
			</mtlaniusadmin>
		    </updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mtlaniusadmin>
                <class>MagenThemes_MTLaniusAdmin_Model</class>
            </mtlaniusadmin>
        </models>
        <resources>
            <mtlaniusadmin_setup>
                <setup>
                    <module>MagenThemes_MTLaniusAdmin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mtlaniusadmin_setup>
            <mtlaniusadmin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mtlaniusadmin_write>
            <mtlaniusadmin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mtlaniusadmin_read>
        </resources>
        <blocks>
            <mtlaniusadmin>
                <class>MagenThemes_MTLaniusAdmin_Block</class>
            </mtlaniusadmin>
        </blocks>
        <helpers>
            <mtlaniusadmin>
                <class>MagenThemes_MTLaniusAdmin_Helper</class>
            </mtlaniusadmin>
        </helpers>
    </global>
    <default>
		<mtlaniusadmin>
		    <mtlaniusadmin_appearance>
		    	<theme_styles>blue</theme_styles>
				<bg_color>#ffffff</bg_color>
				<text_color>#ffffff</text_color>
				<link_color>#fffff</link_color> 
				<pattern_body_select>pattern_1.png</pattern_body_select> 
				<header_bg_color>#ffffff</header_bg_color>
				<header_text_color>#ffffff</header_text_color>
				<header_link_color>#ffffff</header_link_color>
				<mainmenu_bg_color>#ffffff</mainmenu_bg_color>
				<mainmenu_text_color>#ffffff</mainmenu_text_color>
				<mainmenu_link_color>#FFFFFF</mainmenu_link_color>	 
				<color_panel>1</color_panel> 
				<h_font></h_font>
				<b_font></b_font>
				<m_font></m_font>
				<back_top>1</back_top>
				<favicon>favicon.ico</favicon>
		    </mtlaniusadmin_appearance>
		    <navigation>
		    	<menu_effect>slide</menu_effect>
		    	<home>1</home>
		    	<show_type>static</show_type>
		    	<show_learn_more>1</show_learn_more>
		    </navigation>
		    <thumbnailscroller> 
				<direction>horizontal</direction>
				<control>1</control>
				<items>5</items>
				<width>57</width>
				<height>52</height>
				<auto_scroll>4000</auto_scroll>
				<speed>500</speed>
				<enabled_scroller>1</enabled_scroller>
				<enabled_zoom>1</enabled_zoom>
				<width_z>300</width_z>
				<height_z>300</height_z>
				<width_lbox>600</width_lbox>
				<height_lbox>600</height_lbox>
			</thumbnailscroller>
			<smartmenu>  
				<title>Smart Menu</title>
				<menustyle>Accordion</menustyle>
				<event>click</event>
		    </smartmenu>
			<productslist>
				<enabled>1</enabled>
				<title>Products List</title>
                <fillter_cat>1</fillter_cat>
                <fillter_order>1</fillter_order>
				<addtocart>1</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<price>1</price>
				<review>0</review>
				<shortdiscription>1</shortdiscription>
				<maxlength>10</maxlength>
				<qty>12</qty>
				<items_width>270</items_width>
				<width>250</width>
				<height>200</height>
		    </productslist>
			<productsscroller>
				<enabled>1</enabled>
				<auto>6000</auto>
				<mode>latest</mode>				
				<title>MT Products Scroller</title>
				<price>1</price>
				<qty>20</qty>
				<items>4</items>
				<items_scroll>1</items_scroll>
				<addtocart>1</addtocart>
				<detail>0</detail>
				<review>0</review>
				<catsid></catsid>
				<use_fancybox>1</use_fancybox>
				<main_width>900</main_width>
				<main_height>300</main_height>
				<width_item>200</width_item>
				<width>200</width>
				<height>135</height>
				<animation>1000</animation>
				<review>0</review>
				<show_tooltip>1</show_tooltip>
				<tooltip_width>600</tooltip_width>
				<tooltip_height>600</tooltip_height>
				<tooltip_price>1</tooltip_price>
				<tooltip_review>1</tooltip_review>
				<tooltip_addtocart>1</tooltip_addtocart>
				<tooltip_shortdescription>1</tooltip_shortdescription>
		    </productsscroller>
			<logoscroller>
		    	<enabled>0</enabled>
		    	<main_width>900</main_width>
				<main_height>100</main_height>
				<width_item>90</width_item>
				<items_scroll>10</items_scroll>
				<auto>5000</auto>
				<animation>1000</animation>
				<logo_path><![CDATA[
<logo title="Magento Themes" link="http://www.9magentothemes.com">{baseurl}skin/frontend/default/mt_Lanius/images/logo/9magentotheme.jpg</logo>
<logo title="Magento Themes" link="http://www.9magentothemes.com">{baseurl}skin/frontend/default/mt_Lanius/images/logo/magentheme.jpg</logo>
<logo title="Joomla Templates" link="http://www.zootemplate.com">{baseurl}skin/frontend/default/mt_Lanius/images/logo/zootemplate.jpg</logo>
<logo title="Joomla Templates" link="http://www.joomvision.com">{baseurl}skin/frontend/default/mt_Lanius/images/logo/joomvison.jpg</logo>
<logo title="Seo" link="http://www.idichvuseo.com">{baseurl}skin/frontend/default/mt_Lanius/images/logo/idichvuseo.jpg</logo>
<logo title="Seo" link="http://www.zo2framework.org">{baseurl}skin/frontend/default/mt_Lanius/images/logo/Zo2Framework.jpg</logo>
<logo title="Next Cms" link="http://www.nextcms.org">{baseurl}skin/frontend/default/mt_Lanius/images/logo/NextCMS.jpg</logo>]]></logo_path>
		    </logoscroller>
			<static_config>
		        <static_mainright><![CDATA[<div class="banner-static">
<ul>
	<li class="first"><a href="#"><img alt="" src="media/wysiwyg/static1.jpg"></a></li>
	<li><a href="#"><img alt="" src="media/wysiwyg/static2.jpg"></a></li>
	<li class="last"><a href="#"><img alt="" src="media/wysiwyg/static3.jpg"></a></li>
</ul>
</div>]]></static_mainright>				
			</static_config>
			<otherconfig>
		    	<enabled_ajax>1</enabled_ajax>
				<enable_quicklook>1</enable_quicklook>
		    	<enabled_social>1</enabled_social>
		    	<social_position>right</social_position>
		    	<fb_link>https://www.facebook.com/magentothemes</fb_link>
		    	<twitter_link>https://twitter.com/9magentothemes</twitter_link>
		    	<google_link>http://9magentothemes.com</google_link>
		    	<rss_link>http://9magentothemes.com</rss_link>
				<p_link>http://9magentothemes.com</p_link>
		    	<y_link>http://9magentothemes.com</y_link>
		    </otherconfig>
		</mtlaniusadmin>
    </default>
</config>