<?xml version="1.0"?>
<!--
/******************************************************
 * @package MT Slideshow module for Magento 1.4.x.x, Magento 1.5.x.x and Magento 1.6.x.x
 * @version 2.0.0
 * @author http://www.magentheme.com
 * @copyright (C) 2011- MagenTheme.Com
 * @license PHP files are GNU/GPL
*******************************************************/
-->
<config>
    <modules>
        <MagenThemes_Mtslideshow>
            <version>2.0.10</version>
        </MagenThemes_Mtslideshow>
    </modules>
    <frontend>
        <routers>
            <mtslideshow>
                <use>standard</use>
                <args>
                    <module>MagenThemes_Mtslideshow</module>
                    <frontName>mtslideshow</frontName>
                </args>
            </mtslideshow>
        </routers>
        <layout>
            <updates>
                <mtslideshow>
                    <file>mtslideshow.xml</file>
                </mtslideshow>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	    <mtslideshow>
		<use>admin</use>
		<args>
		    <module>MagenThemes_Mtslideshow</module>
		    <frontName>mtslideshow</frontName>
		</args>
	    </mtslideshow>
        </routers>
    </admin>
    <adminhtml>
	<layout>
	    <updates>
		<mtslideshow>
		    <file>mtslideshow.xml</file>
		</mtslideshow>
	    </updates>
	</layout>
    </adminhtml>   
    <global>
        <models>
            <mtslideshow>
                <class>MagenThemes_Mtslideshow_Model</class>
                <resourceModel>mtslideshow_mysql4</resourceModel>
            </mtslideshow>
            <mtslideshow_mysql4>
                <class>MagenThemes_Mtslideshow_Model_Mysql4</class>
                <entities>
                    <mtslideshow>
                        <table>mtslideshow_slide</table>
                    </mtslideshow>
		    <category>
			<table>mtslideshow_category</table>
		    </category>
		    <page>
			<table>mtslideshow_page</table>
		    </page>
		    <image>
			<table>mtslideshow_image</table>
		    </image>
		    <store>
			<table>mtslideshow_store</table>
		    </store>
                </entities>
            </mtslideshow_mysql4>
        </models>
        <resources>
            <mtslideshow_setup>
                <setup>
                    <module>MagenThemes_Mtslideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mtslideshow_setup>
            <mtslideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mtslideshow_write>
            <mtslideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mtslideshow_read>
        </resources>
        <blocks>
            <mtslideshow>
                <class>MagenThemes_Mtslideshow_Block</class>
            </mtslideshow>
        </blocks>
        <helpers>
            <mtslideshow>
                <class>MagenThemes_Mtslideshow_Helper</class>
            </mtslideshow>
        </helpers>
	<events>
	    <controller_action_layout_generate_blocks_after>
		<observers>
		    <mtslideshow_layout_generate_observer>
		    <type>singleton</type>
		    <class>mtslideshow/layout_generate_observer</class>
		    <method>addJsCss</method>
		    </mtslideshow_layout_generate_observer>
		</observers>
	    </controller_action_layout_generate_blocks_after>
	</events>		
    </global>
    <default>
	<mtslideshow>
	    <mtslideshow_config>
            <enabled>1</enabled>
            <quality>90</quality>
            <width_thumbnail>100</width_thumbnail>
            <height_thumbnail>50</height_thumbnail>
            <speed_show>4000</speed_show>
			</mtslideshow_config>
			<slider_settings>
			<effect_default>random</effect_default>
			<slices_default>15</slices_default>
			<box_cols_default>8</box_cols_default>
			<box_rows_default>4</box_rows_default>
			<anim_speed_default>2000</anim_speed_default>
			<pause_time_default>5000</pause_time_default>
			<start_slide_default>0</start_slide_default>
			<direction_nav_default>1</direction_nav_default>
			<direction_nav_hide_default>1</direction_nav_hide_default>
			<control_item_nav_display>3</control_item_nav_display>
			<control_nav_width>300</control_nav_width>
			<control_item_nav_height>105</control_item_nav_height>
			<control_nav_default>1</control_nav_default>
			<control_nav_thumbs_default>1</control_nav_thumbs_default>
			<control_nav_thumbs_from_rel_default>1</control_nav_thumbs_from_rel_default>		
			<keyboard_nav_default>1</keyboard_nav_default>
			<pause_on_hover_default>1</pause_on_hover_default>
			<manual_advance_default>0</manual_advance_default>
			<caption_opacity_default>0.8</caption_opacity_default>
			<prev_text_default>Prev</prev_text_default>
			<next_text_default>Next</next_text_default>
			<random_start_default>0</random_start_default>		
			<autoplay_default>1</autoplay_default>
			<pause_time_mtscroll>3000</pause_time_mtscroll>
			<anim_speed_mtscroll>1000</anim_speed_mtscroll>
			<os_start_slide>1</os_start_slide>
			<os_auto>1</os_auto>
			<e_pagenav>1</e_pagenav>
			<e_scrollbar>1</e_scrollbar>
	    </slider_settings>
	</mtslideshow>
    </default>
</config>